@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-animated';

@theme {
  --font-montserrat:
    'Montserrat', 'Montserrat Fallback', ui-sans-serif, system-ui, sans-serif;
  --font-sans: var(--font-montserrat);

  --color-primary: #15162c;
  --color-menu: rgba(41, 46, 86, 0.2);
}

.animate-twinkle {
  animation: twinkle 8s ease-in-out infinite;
}

.animate-shooting-star {
  animation: shootingStar ease-out;
}

@keyframes twinkle {
  0%,
  to {
    opacity: 0.2;
    transform: scale(0.8);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shootingStar {
  0% {
    transform: translate(-200px, -200px);
    opacity: 1;
  }
  100% {
    transform: translate(200px, 200px);
    opacity: 0;
  }
}
