@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons&display=block');
@import 'tailwindcss';
@import 'tailwindcss-animated';

@theme {
  --font-montserrat:
    'Montserrat', 'Montserrat Fallback', ui-sans-serif, system-ui, sans-serif;
  --font-sans: var(--font-montserrat);

  --color-primary: #06080e;
  --color-secondary: rgb(12 15 25 / 1);
  --color-menu: rgba(41, 46, 86, 0.2);
  --color-border: #858b9833;
  --color-border-hover: #858b9866;

  /*--color-my-github: #7c6cdb;*/
  /*--color-opponent-github: #2dd4bf;*/

  --color-my-github: oklch(71.4% 0.203 305.504);
  --color-opponent-github: oklch(70.7% 0.165 254.624);
}

.animate-twinkle {
  animation: twinkle 8s ease-in-out infinite;
}

.animate-shooting-star {
  animation: meteorite ease-out;
}

.animate-nav-item-active {
  animation: nav-item-active 0.3s ease-in-out;
}

.animate-slide-up {
  animation: slide-up 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

.animate-slide-down {
  animation: slide-down 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

.animate-toggle-popover {
  animation: toggle-popover 0.3s ease-in-out;
}

@keyframes twinkle {
  0%,
  to {
    opacity: 0.2;
    transform: scale(0.8);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes meteorite {
  0% {
    transform: translate(-200px, -200px);
    opacity: 1;
  }
  100% {
    transform: translate(200px, 200px);
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes toggle-popover {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
